{% extends 'myapp/base.html' %}
{% block body_block %}

    <h2>Detail Page</h2>

    {% if category %}

        <h5 style="padding: 1%">Warehouse Location: {{ category.warehouse }}</h5>

    {% endif %}

    {% if productList %}

        <ol>

            {% for product in productList %}
                <li>
                    <div class="container" style="padding: 1%">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}
                                </h5>
                                <p>Price: ${{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                </li>

                {#                <li> {{ product.name }}: {{ product.price }}</li>#}

            {% endfor %}

        </ol>

    {% else %}

        <strong>There are no available products!</strong>

    {% endif %} {% endblock %}