<head>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
{% extends 'myapp/base.html' %}
{% block body_block %}
    {% load crispy_forms_tags %}


    {#    <h2 class="text-center">Place Order</h2>#}
    {##}
    {#    {% if prodlist %}#}
    {#        <h2>Available Products:</h2>#}
    {##}
    {#        <ol>#}
    {##}
    {#            {% for product in prodlist %}#}
    {##}
    {#                <li> {{ product.name }}: ${{ product.price }} - In Stock: {{ product.stock }}</li>#}
    {##}
    {#            {% endfor %}#}
    {##}
    {#        </ol>#}
    {##}
    {#    {% else %}#}
    {##}
    {#        <strong>There are no available products!</strong>#}
    {##}
    {#    {% endif %}#}

    {% if isClient == True %}

        <div class="container py-5 btn-dark">
            <h2>Place Order</h2>

            <form action="/myapp/placeorder/" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark" type="submit">Place Order</button>
            </form>

        </div>

    {% else %}
        <strong style="color: red; text-align: center; font-size: larger">You cannot place an order since you are not a client or you are staff!</strong>
    {% endif %}
    {#    <h2>Order Details:</h2>#}
    {#    <form action="/myapp/placeorder/" method="post">#}
    {#        {% csrf_token %}#}
    {#        {{ form }}#}
    {#        <input class="btn-primary" type="submit" value="Place Order"/>#}
    {#    </form>#}
{% endblock %}


{#This template should display#}
{#the list of products and render the form you created in place_order view. Also, create the#}
{#order_response.html to display the message msg#}