{% extends 'myapp/base.html' %}

{% block body_block %}

    <div class="container">
        <div class="row">
            <h2 class="col">Products:</h2>
            <a class="flex-column-reverse" href="{% url 'myapp:placeorder' %}">
                <button class='btn btn-dark'>Place Order</button>
            </a>
        </div>



        {% if prodlist %}

            <ol>

                {% for product in prodlist %}
                    <div class="container" style="padding: 1%">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}
                                </h5>
                                <p>Price: {{ product.price }}</p>
                                <p>Stock Available: {{ product.stock }}</p>
                                <a href="{% url 'myapp:product_detail' product.id %}">
                                    <button class='btn btn-dark'>View More</button>
                                </a>
                            </div>

                        </div>
                    </div>
                    {#                <a href="{% url 'myapp:product_detail' product.id %}">#}
                    {#                    <li>{{ product.name }}: ${{ product.price }} - In Stock: {{ product.stock }}</li>#}
                    {#                </a>#}

                {% endfor %}

            </ol>

        {% else %}

            <strong>There are no available products!</strong>

        {% endif %}




{% endblock %}