{% extends 'myapp/base.html' %}
{% block title %}Welcome Farhan!{% endblock %}
{% block myhdg %}Hello Farhan {% endblock %}
{% block body_block %}<p><a href="{% url 'myapp:index' %}">Go Back</a></p>


    <h2>Product Detail Page</h2>

    {% if product.stock > 0 %}

        <p>Name: {{ product.name }}</p>
        <p>Interested: {{ product.interested }}</p>
        <p>Price: {{ product.price }}</p>

        <form action="/myapp/products/{{ product.id }}/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    {% else %}
        <strong>This product is not available!</strong>
    {% endif %}
{% endblock %}